.card{
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.068);
  padding: 10px;
  max-width: 300px;
  margin: 10px;
}

.card img{
  max-height: 150px;
  border-radius: 50%;
}